.list {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  gap: 20px;
}

.itemText {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.good {
  color: rgb(237, 45, 45);
}

.neutral {
  color: rgb(4, 118, 118);
}

.bad {
  color: rgb(165, 74, 8);
}
